@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* { font-family: 'Source Sans Pro', sans-serif; box-sizing: border-box }

.login-form {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form h1 {
    color: #ff4d7a
}

.login-form label {
    margin: 20px;
    width: 30%;
    min-width: 200px;
}

.login-form label input {
    width: 100%;    
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #bbb;
    font-size: 18px;
}

.login-form label input::placeholder, a {
    color: #ff4d7a
}

.login-form label input:focus {
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-form button {
    background-color: #ff4d7a;
    color: white;
    border-radius: 10px;
    width: 30%;
    min-width: 200px;
    padding: 10px;
    font-size: 18px;
    border: none;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.15s ease-in-out;
}

.login-form button:hover {
    background-color: #df2d5a;
}

.login-form button:active {
    box-shadow: none;
}

.deactivated {
    background-color: #6f6f6f !important;
}