doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel='stylesheet' type='text/css' href='styles/home.css')
        link(href="https://cdn.jsdelivr.net/npm/siiimple-toast/dist/style.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/siiimple-toast/dist/siiimple-toast.min.js")
        script(src='js/home/createoverlay.js')
        script(src="js/home/postrant.js")

        title Rantisse

    body
        div(class="overlay" onclick="derenderOverlay()")
        .rants
            each rant in rants
                .rant
                    p #{rant.text}

        .newrant
            button(onclick="createOverlay()") New Rant